body, html {
    height: 100%;
}

.columna{
    border: 2px solid black;
}

.fila {
    height: 25vh;
}

.cuadro {
    opacity: 0;
    transition: opacity ease 0.4s;
    border: 1px solid black;
    cursor: pointer;
}

.exito {
    background-color: grey;
}
.rojo {
    background-color: red;
}

.azul {
    background-color: blue;
}

.verde {
    background-color: green;
}

.amarillo {
    background-color: yellow;
}

.negro {
    background-color: black;
}

.blanco {
    background-color: white;
}

.oculto {
    display: none;
}